
/*----------------Customers----------------*/

.customers {
  background: url('../img/index/customers/bg-image.jpg') 100% / cover no-repeat;
  padding: 50px;
  display: flex;
  min-height: 500px;

    &_margin-bottom{
      margin-bottom: 100px;
    }

  // .customers__title

  &__title {
    flex: 1 1 50%;
    text-align: center;
    font-weight: 900;
    font-size: 35px;
    letter-spacing: 1.25px;
    color: rgb(168, 164, 164);
  }

  &__span {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      bottom: -3px;
      left: 50px;
      width: 100px;
      height: 3px;
      background-color: rgb(186, 44, 44);
    }
  }
}

.drop-list {
  flex: 1 1 50%;
  padding-top: 40px;
  
  // .drop-list__items

  &__items {
  }

  // .drop-list__item

  &__item {
    transform: translate(-100%, 0px);
    transition: 0.3s;
    &:nth-child(1) {
      transition-delay: 0.1s;
    }
    &:nth-child(2) {
      transition-delay: 0.2s;
    }
    &:nth-child(3) {
      transition-delay: 0.3s;
    }
    &:nth-child(4) {
      transition-delay: 0.4s;
    }
    &:nth-child(5) {
      transition-delay: 0.5s;
    }
    &:nth-child(6) {
      transition-delay: 0.6s;
    }
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  // .drop-list__link

  &__link {
    display: inline-block;
    padding: 10px 30px;
    font-family: "Roboto Serif";
    font-size: 18px;
    background: #027a7a;
    color: #fff;
    border-radius: 8px;
    &:hover {
      background: #025757;
      color: rgb(144, 143, 143);
    }
  }
  &:hover {
    .drop-list__item {
      transform: translate(0px, 0px);
    }
  }
}