
/*--------------Footer----------------*/

.footer {
  padding: 30px;
  background-color: rgb(58, 76, 99);

  // .footer__container

  &__container {
  }

  // .footer__row

  &__row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
  }

  // .footer__column

  &__column {
    flex: 0 1 25%;
    padding: 0 15px;
  }

  // .footer__label

  &__label {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: rgb(172, 171, 171);
    letter-spacing: 0.2px;
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
    &__label_start {
      display: flex;
      justify-content: flex-start;
    }

  // .footer__menu

  &__menu {
  
  }

  // .footer__contact

  &__contact {
   
  }
}
.menu-footer {

  // .menu-footer__list

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  // .menu-footer__item

  &__item {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  // .menu-footer__link

  &__link {
    font-size: 12px;
    display: inline-block;
    color: #fff;
    letter-spacing: 0.25px;
    &:hover {
      text-decoration: underline;
      color: rgb(190, 188, 188);
    }
  }
}
.contact-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  &>:not(:last-child) {
    margin-bottom: 20px;
  }

  // .contact-footer__item

  &__item {
    font-size: 12px;
    color: #fff;
    letter-spacing: 1.25px;
    padding: 0px 0px 0px 25px;
    transition: all 0.3s ease 0s;
    &:hover {
      text-decoration: underline;
      color: rgb(214, 17, 17);
    }
    &_phone {
      background: url('../img/index/footer/smartphone.svg') left no-repeat;
    }
    &_map {
      background: url('../img/index/footer/place.svg') left no-repeat;
    }
    &_mail {
      background: url('../img/index/footer/email.svg') left no-repeat;
    }
  }
}
