
/*------------------Header------------------*/

.header {
  background: url('../img/index/header/hero.jpg') 100% / cover no-repeat;
  padding-top: 50px;
  min-height: 800px;
}

/*-----------------Header-top-----------------*/

.header-top {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;

  // .header-top__logo

  &__logo {
    flex: 1 1 50%;
    display: flex;
    align-items: center;
    font-size: 42px;
    font-weight: 700;
    color: #fff;
    background: url('../img/index/header/logo.svg') 0 0 no-repeat;
    padding-left: 50px;
    &:hover {
      color: rgb(191, 189, 189);
    }
    &:hover .header-top__span {
      position: relative;
      color: #aa1414;
      font-weight: 700;
      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 20px;
        height: 2px;
        background-color: rgb(159, 157, 157);
      }
    } 
  }

  // .header-top__columns

  &__columns {
    flex: 1 1 50%;
    display: flex;
    justify-content: space-between;
  }
  
  // .header-top__column
  
  &__column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 12px;
  }

  
  // .header-top__button

  &__button {
  }
  
  // .header-top__schedule
  
  &__schedule {
    padding-left: 30px;
    &>*:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  
  // .header-top__contact
  
  &__contact {
    padding-left: 30px;
    &>*:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

.schedule {
  
  // .schedule__label
  
  &__label {
    font-weight: 600;
    color: rgb(201, 199, 199);
    text-transform: uppercase;
    letter-spacing: 0.15px;
    text-transform: uppercase;
  }
  
  // .schedule__days
  
  &__days {
    position: relative;
    font-weight: 500;
    color: #fff;
    &:hover {
      text-decoration: underline;
      color: rgb(181, 59, 59);
      &::before {
        content: "";
        transform: scale(1.2);
      }
    }
    &::before {
      content: "";
      position: absolute;
      top: -20px;
      left: -30px;
      width: 20px;
      height: 20px;
      background: url('../img/index/header/time.svg') 0 0 no-repeat;
    }
  }
}

.contact {

  // .contact__label
  
  &__label {
    font-weight: 600;
    color: rgb(201, 199, 199);
    text-transform: uppercase;
    letter-spacing: 0.15px;
    text-transform: uppercase;
  }

  // .contact__phone

  &__phone {
    position: relative;
    display: inline-block;
    font-weight: 500;
    color: #fff;
    &:hover {
      text-decoration: underline;
      color: rgb(181, 59, 59);
      &::before {
        content: "";
        transform: scale(1.2);
      }
    }
    &::before {
      content: "";
      position: absolute;
      top: -20px;
      left: -30px;
      width: 20px;
      height: 20px;
      background: url('../img/index/header/phone.svg') 0 0 no-repeat;
    }
  }
}

/*--------------Header-bottom--------------------*/

.header-bottom {
  background: #fff;
  padding: 10px;

  // .header-bottom__menu

  &__menu {
  }

  // .header-bottom__list

  &__list {
    display: flex;
    justify-content: space-around;
  }

  // .header-bottom__item

  &__item {

    // .header-bottom__item_action

    &_action {
      position: relative;
      &:hover .header-bottom__sub-list {
        display: block;
      }
    }
  }

  // .header-bottom__link

  &__link {
    font-weight: 700;
    letter-spacing: 0.15px;
    line-height: 157%;
    color: rgb(29, 28, 28);
    &:hover {
      color: #a92323;
      text-decoration: underline;
    }

    // .header-bottom__link_arrow

    &_arrow {
      background: url('../img/index/header/arrow-down.svg') right / 16px 16px no-repeat;
      padding-right: 20px;
    }
  }

  // .header-bottom__sub-list

  &__sub-list {
    min-width: 100px;
    position: absolute;
    top: 20px;
    left: 0;
    display: none;
    padding-top: 20px;
    background-color: #fff;
    text-align: center;
  }

  // .header-bottom__sub-item

  &__sub-item {
    margin-bottom: 10px;
  }

  // .header-bottom__sub-link

  &__sub-link {
    font-weight: 700;
    color: rgb(73, 72, 72);
    &:hover {
      color: #921010;
      text-decoration: underline;
    }
  }
}

  //.header__title

  .header__title {
    font-family: "Roboto Serif";
    max-width: 500px;
    padding-top: 250px;
    font-size: 30px;
    font-weight: 900;
    color: #fff;
    letter-spacing: 1.25px;
    line-height: 150%;
  }


