
/*-------------Our-services--------------*/

.our-services {

    &_margin-bottom {
      margin-bottom: 70px;
    }

    // .our-services__container

  &__container {
  }

  // .our-services__header

  &__header {
    padding-bottom: 50px;
  }

  // .our-services__columns

  &__columns {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    margin: 0 -15px;
  }

  // .our-services__column

  &__column {
    flex: 1 1 33.333%;
    padding: 0 15px;
  }
}
.header-block {

  // .header-block__label

  &__label {
  }

  // .header-block__title

  &__title {
  }
}
.column-our-services {
  display: flex;
  flex-direction: column;

  // .column-our-services__picture

  &__picture {
    padding-bottom: 74.28%;
  }

  // .column-our-services__image

  &__image {
  }

  // .column-our-services__body

  &__body {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    background: rgb(235, 234, 234);
    &>*:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  // .column-our-services__title

  &__title {
    font-size: 19px;
    font-weight: 900;
    line-height: 136%;
    color: #02133C;
  }

  // .column-our-services__text

  &__text {
    font-family: "Roboto Serif";
    font-size: 12px;
    line-height: 150%;
    color: #4B4B4B;
  }

  // .column-our-services__button

  &__button {
  }

  // .ibg
  .ibg {
    position: relative;
    img {
      object-fit: cover;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }
}



