
/*---------------Promise--------------*/

.promise {

    &_margin-bottom {
      margin-bottom: 95px;
    }
  // .promise__container

  &__container {
  }

  // .promise__header

  &__header {
    margin-bottom: 68px;
  }

  // .promise__items

  &__items {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    margin: 0 -12px;
  }

  // .promise__item

  &__item {
    flex: 1 1 33.333%;
    padding: 0 12px;
    display: flex;
    column-gap: 25px;
  }
}

.item-promise {

  // .item-promise__icon

  &__icon {
  }

  // .item-promise__body

  &__body {
    &>:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  // .item-promise__title

  &__title {
    font-size: 19px;
    font-weight: 900;
  }

  // .item-promise__text

  &__text {
    font-family: "Roboto Serif";
    font-size: 13px;
    line-height: 150%;
    color: #4B4B4B;
    letter-spacing: 0.15px;
  }
}




