
/*---------------Touch-scroll----------------*/

.touch-scroll {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: fixed;
  top: 50%;
  right: 3%;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgb(236, 238, 247, 0.2);
  border: 1px solid rgb(105, 104, 104);
  z-index: 5;
  &:hover {
    background-color: rgb(236, 238, 247, 0.4);
  }
  &:hover .touch-scroll__item {
    color: rgb(215, 60, 22);
    transform: scale(1.2);
  }

  // .touch-scroll__item

  &__item {
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    color: grey;
    color: rgb(24, 23, 23);
    transition: all 0.2s ease 0s;
  }
}

