
/*-------------------Header-block-------------------*/

.header-block {
  
  // .header-block__label
  
  &__label {
    position: relative;
    padding-left: 30px;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 200%;
    letter-spacing: 2.5px;
    color: #4B4B4B;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
    &::before {
      content: "";
      position: absolute;
      top: -3px;
      left: 0;
      width: 19px;
      height: 19px;
      background: url('../img/index/about-us/overline-mark.svg') 0 0 no-repeat;
    }
    &:hover::before {
      transform: scale(2);
    }
  }

  // .header-block__title

  &__title {
    font-weight: 900;
    font-size: 36px;
    line-height: 116%;
    color: #02133C;
  }
}