
/*------------------Roboto----------------*/

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf"),
  url("../fonts/Roboto-Regular.woff"),
  url("../fonts/Roboto-Regular.woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.ttf"),
  url("../fonts/Roboto-Bold.woff"),
  url("../fonts/Roboto-Bold.woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Black.ttf"),
  url("../fonts/Roboto-Black.woff"),
  url("../fonts/Roboto-Black.woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/*-----------------Helvetica--------------*/

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/HelveticaNeueCyr-Roman.ttf"),
  url("../fonts/HelveticaNeueCyr-Roman.woff"),
  url("../fonts/HelveticaNeueCyr-Roman.woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/HelveticaNeueCyr-Bold.ttf"),
  url("../fonts/HelveticaNeueCyr-Bold.woff"),
  url("../fonts/HelveticaNeueCyr-Bold.woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/HelveticaNeueCyr-Black.ttf"),
  url("../fonts/HelveticaNeueCyr-Black.woff"),
  url("../fonts/HelveticaNeueCyr-Black.woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}